<div class="nav-container">
    <div class="nav-item-1">    
        <h1>Fantasy Notebook</h1>
    </div>
    <div class="nav-button">
        <a href="/ffnotebook"><button>Home</button></a>
    </div>
    <div class="nav-button">      
        <a href="#"><button>Log In</button></a>
    </div>        
</div>
