<div class="container">
    <div class="row">
        <div class="col-4">
            <a href="/ffnotebook"><button>Home</button></a>
        </div>    
        <div class="col-4">    
            <h1>Fantasy Notebook</h1>
        </div>
        <div class="col-4">      
            <a href="#"><button>Log In</button></a>
        </div>    
    </div>
